body {
    overflow: hidden;
    font-family: "Special Gothic Expanded One", sans-serif;
    background-color: rgb(32, 32, 32);
    text-align: center;
    margin: 0px;
}

#navBox {
    max-height: 0px;
    justify-content: space-between;
    display: flex;
    font-size: 20px;
    text-align: left;
    padding: 10px;
    color: white;
    background-color: rgb(53, 53, 53);
    transition: 0.8s;
}

#title {
    font-family: "Special Gothic Expanded One", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-top: 10px;
    font-size: 60px;
}

#title2 {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 30px;
    color: rgb(34, 34, 34);
}

#text {
    font-family: "Special Gothic Expanded One", sans-serif;
    margin: 0 auto;
    width: 400px;
    background: linear-gradient(45deg, #000000, #7d7d7d, #ffffff);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 24px;
    font-weight: 700;
    font-weight: 600;
    margin-top: 10px;
    font-size: 35px;
}

#prob {
    margin-left: -100px;
    margin-right: -100px;
    transition: 0.5s;
    scale: 0.80;
    border-radius: 20px;
    width: 700px;
    padding: 20px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#portb {
    filter: brightness(50%) blur(5px);
    transition: 0.5s;
    scale: 0.40;
    overflow: auto;
    height: 750px;
    border-radius: 20px;
    width: 700px;
    padding: 20px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#blogb {
    filter: brightness(50%) blur(5px);
    transition: 0.5s;
    scale: 0.40;
    overflow: auto;
    height: 750px;
    border-radius: 20px;
    width: 700px;
    padding: 20px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#aaqaaaqa {
    margin: 0 auto;
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {

    margin-top: 20px;
    margin-left: -50px;
    width: 800px;
}

button {
    margin-bottom: 20px;
    font-family: "Special Gothic Expanded One", sans-serif;
    border: none;
    font-size: 20px;
    transition: 0.3s;
    margin-top: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    color: white;
    background-color: black;
}

button:hover {
    cursor: pointer;
    scale: 1.05;
    transition: 0.3s;
}

#imgimg {
    border-radius: 240px;
    margin-left: 10px;
    width: 480px;
}

#name {
    font-size: 30px;
    display: inline-block; 
    cursor: pointer;
    margin: 20px;
}

#rightlist {
    width: 90%;
    text-align: right;
}

#list1 {
    transition: 0.5s;
    cursor: pointer;
    margin: 30px;
    margin-right: 40px;
    display: inline-block; 
}

#list1:hover {
    transition: 0.5s;
    scale: 1.1;
}


#list2 {
    transition: 0.5s;
    cursor: pointer;
    margin-right: 40px;
    display: inline-block; 
}

#list2:hover {
    transition: 0.5s;
    scale: 1.1;
}

#list3 {
    transition: 0.5s;
    cursor: pointer;
    margin-right: 40px;
    display: inline-block; 
}

#list3:hover {
    transition: 0.5s;
    scale: 1.1;
}

.position-left {
    left: 30px;
    transform: translateY(-50%);
}

.position-center {
    left: 50%;
    transform: translate(-50%, -50%);
}

.position-right {
    right: 30px;
    transform: translateY(-50%);
}


#port1 {
    font-family: "Special Gothic Expanded One", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-top: 10px;
    font-size: 60px;
}

#blog1 {
    font-family: "Special Gothic Expanded One", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-top: 10px;
    font-size: 60px;
}

#port22 {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 30px;
    color: rgb(34, 34, 34);
}

#blog22 {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 30px;
    color: rgb(34, 34, 34);
}
