body {
    font-family: "Special Gothic Expanded One", sans-serif;
    background-color: rgb(32, 32, 32);
    text-align: center;
    margin: 0px;
}

.navBox {
    font-size: 20px;
    text-align: left;
    padding: 10px;
    color: white;
    background-color: rgb(53, 53, 53);
}

.title {
    font-family: "Special Gothic Expanded One", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-top: 10px;
    font-size: 60px;
}

.title2 {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 30px;
    color: rgb(34, 34, 34);
}

#text {
    font-family: "Special Gothic Expanded One", sans-serif;
    margin: 0 auto;
    width: 400px;
    background: linear-gradient(45deg, #FC4100, #F3CA52, #03AED2);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 24px;
    font-weight: 700;
    font-weight: 600;
    margin-top: 10px;
    font-size: 35px;
}

.boxbox {
    overflow: auto;
    height: 750px;
    border-radius: 20px;
    width: 700px;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

.aaqaaaqa {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin-left: -50px;
    width: 800px;
}

button {
    font-family: "Special Gothic Expanded One", sans-serif;
    border: none;
    font-size: 20px;
    transition: 0.3s;
    margin-top: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    color: white;
    background-color: black;
}

button:hover {
    scale: 1.05;
    transition: 0.3s;
}

#imgimg {
    margin-left: 10px;
    width: 480px;
}

